#createForm{
    margin: 25vh auto 0 auto;
    width:66%;
    padding: 40px;
    background-color: #EEEEF3;
    border-radius: 5px;
    /* border: 1px solid black; */
}

#createForm select{
    margin-top: 1.4%;
}

#createForm button{
    margin-top: 20px;
    width: 50%;
}