body{
    background: url(/images/bg-falken-car.jpg) no-repeat;
    background-size: cover;
}

#container {
    position: relative;
}

#container #stat{
    position: absolute;
    background-color: #eeeef3;
    top: 40px;
    left: 2%;
    width: 800px;
    height: 180px;
}

.stat{
    margin: 42px auto 0 auto;
    width: 50%;
    /* border: 1px solid black; */
}

#container #fac{
    position: absolute;
    background-color: #eeeef3;
    top: 40px;
    right: 2%;
    width: 650px;
    height: 180px;
}

#container #fac{
    position: absolute;
    background-color: #eeeef3;
    top: 40px;
    right: 2%;
    width: 650px;
    height: 180px;
}

#container #ca{
    position: absolute;
    background-color: #eeeef3;
    top: 260px;
    right: 5%;
    width: 300px;
    height: 90px;
}

#container #caw{
    position: absolute;
    background-color: #eeeef3;
    top: 375px;
    right: 10%;
    width: 300px;
    height: 90px;
}

#container #cam{
    position: absolute;
    background-color: #eeeef3;
    top: 490px;
    right: 15%;
    width: 300px;
    height: 90px;
}

.widgetTitle {
    position: absolute;
    background-color: #050A2E;
    color:white;
    width: 100%;
    height: 32px;
    bottom: 0;
    text-align: center;
}

.widgetTitle h2{
    font-size: 16px;
    margin-top: 6px;
}

.price{
    text-align: center;
    width: 85px;
    margin: 13px auto 0 auto;
    border-radius: 7px;
    padding: 5px;
    background-color: white;
}