body { 
    background: url(/images/bg-falken-car.jpg) no-repeat;
    background-size: cover;
}

#login-button{
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 35vh;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  background-color: rgb(128,128,128,0.8);
  /* display: none; */
}

#login-button > img{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100px;
}

#login-content{
  position: relative;
  background-color: rgb(128,128,128,0.8);
  /* border: 1px solid black; */
  border-radius: 15px;
  width: 450px;
  margin: 0 auto;
  margin-top: 35vh;
  display: none;
}

#login-content > h1{
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

#login-content img{
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  opacity: .2;
  width: 7%;
}

#login-content img:hover{
  opacity: .5;
}

#login-content > form > input{
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 20px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  transition: all 0.2s ease-in-out;
}

#login-content > form > input::placeholder{
  color: rgba(255, 255, 255, 0.7);
}

#login-content > form > input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

#login-content > form > input[type=submit]{
  margin-top: 20px;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107,255,3,0.3);
}

#login-content > form > input[type=submit]:hover{
  opacity: 0.7;
}