.results tr[visible='false'],

.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#212529;
  /* background-color: black; */
}



.table{
    background-color: #EEEEF3;
}

.search{
    margin-top: 25px;
    background-color: #EEEEF3;
}

.centered{
    display:block;
    text-align: center;
}

.btn-success{
  margin-top: 25px;
  width: 100%;
}

.btn-success a{
  text-decoration: none;
  color: white;
}